all:
  vars:
    ansible_ssh_user: admin
    ansible_become: true
    ansible_become_method: su
    ansible_become_user: root
    system:
      name: portal
      root_dir: "/opt/portal"
    users:
      - name: test
        password: test01
        generate_ssh_key: true
    journald:
      system_max_use: 1G
      system_keep_free: 1G
    docker:
      user: root
      group: root
  children:
    web:
      vars:
        docker:
          images:
            - "{{ system.name }}_web-api"
            - "{{ system.name }}_redis"
    db:
