[defaults]
# ask_pass = true
# ask_su_pass = true
transport = ssh
private_role_vars = true
roles_path = roles
retry_files_enabled = false
hash_behaviour = merge
stdout_callback = debug

[ssh_connection]
pipeline = true
ssh_args = -o ControlMaster=auto -o ControlPersist=300s
