[Journal]
Storage={{ journald.storage }}
Compress={{ journald.compress }}
Seal={{ journald.seal }}
SplitMode={{ journald.split_mode }}
SyncIntervalSec={{ journald.sync_interval_sec }}
RateLimitInterval={{ journald.rate_limit_interval }}
RateLimitBurst={{ journald.rate_limit_burst }}
SystemMaxUse={{ journald.system_max_use }}
SystemKeepFree={{ journald.system_keep_free }}
SystemMaxFileSize={{ journald.system_max_file_size }}
RuntimeMaxUse={{ journald.runtime_max_use }}
RuntimeKeepFree={{ journald.runtime_keep_free }}
RuntimeMaxFileSize={{ journald.runtime_max_file_size }}
MaxRetentionSec={{ journald.max_retention_sec }}
MaxFileSec={{ journald.max_file_sec }}
ForwardToSyslog={{ journald.forward_to_syslog }}
ForwardToKMsg={{ journald.forward_to_kmsg }}
ForwardToConsole={{ journald.forward_to_console }}
ForwardToWall={{ journald.forward_to_wall }}
TTYPath={{ journald.tty_path }}
MaxLevelStore={{ journald.max_level_store }}
MaxLevelSyslog={{ journald.max_level_syslog }}
MaxLevelKMsg={{ journald.max_level_kmsg }}
MaxLevelConsole={{ journald.max_level_console }}
MaxLevelWall={{ journald.max_level_wall }}
